<ion-header>
    <ion-toolbar>
        <ion-title>Vimeet Let's Go!</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content #main>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button class="vimeet-fab vimeet-fab-text">
            Instants
        </ion-fab-button>
        <ion-fab-list side="top" class="vimeet-fab">
            <ion-fab-button
                *ngFor="let instant of instantsAvailable"
                (click)="sendInstant(instant)"
                ><ion-icon name="{{instant}}-outline"></ion-icon
            ></ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="vimeet-fab vimeet-fab-text">
            Objects
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button
                class="vimeet-fab vimeet-fab-text"
                *ngFor="let objectDefinition of objectDefinitions"
                (click)="raise(objectDefinition.object)"
                ><span *ngIf="platform.width() >= 450"
                    >{{objectDefinition.listText}}</span
                ><span *ngIf="platform.width() < 450"
                    >{{objectDefinition.shortListText}}</span
                ></ion-fab-button
            >
        </ion-fab-list>
    </ion-fab>
    <div id="instants-start">
        <ion-icon
            *ngFor="let instant of instants"
            name="{{instant.icon}}"
            id="{{instant.uuid}}"
            class="{{instant.uuid}}"
            [ngStyle]="{'margin-left.px': instant.leftOffset}"
        ></ion-icon>
    </div>
    <ion-card>
        <ion-card-header (click)="expandItem('users')">
            <ion-card-title>Users</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <app-expandable
                [expandHeight]="expandHeight"
                [expanded]="expandables.users"
            >
                <ion-text *ngFor="let user of users" class="user"
                    >{{user.name}}</ion-text
                >
            </app-expandable>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header (click)="expandItem('polls')">
            <ion-card-title>Polls</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <app-expandable
                [expandHeight]="expandHeight"
                [expanded]="expandables.polls"
            >
                <app-poll
                    *ngFor="let poll of polls"
                    [title]="poll.object"
                    [options]="poll.options"
                    [votes]="poll.votes"
                    [closed]="poll.closed"
                ></app-poll>
            </app-expandable>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header (click)="expandItem('objects')">
            <ion-card-title>Objects</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <app-expandable
                [expandHeight]="expandHeight"
                [expanded]="expandables.objects"
            >
                <div *ngFor="let object of objects" class="vimeet-object">
                    <span class="vimeet-object-icon"
                        ><ion-icon
                            *ngIf="object.fromSelf"
                            name="close-circle-outline"
                            (click)="lower(object.object)"
                        ></ion-icon></span
                    ><ion-text>{{object.text}}</ion-text>
                </div>
            </app-expandable>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header (click)="expandItem('chat')">
            <ion-card-title>Chat</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <app-expandable
                [expandHeight]="expandHeight"
                [expanded]="expandables.chat"
                style="overflow-y: hidden !important;"
            >
                <div
                    [ngStyle]="{'height.px': chatInputOffset}"
                    style="overflow-y: auto;"
                >
                    <ion-text
                        *ngFor="let message of chatMessages"
                        style="display: block;"
                        ><b>{{message.owner_name}}: </b
                        >{{message.text}}</ion-text
                    >
                </div>
                <ion-item>
                    <ion-input
                        type="text"
                        [(ngModel)]="chatInput"
                        placeholder="Enter chat message"
                    ></ion-input>
                    <ion-button (click)="sendChatMessage()" item-end>
                        Send
                    </ion-button>
                </ion-item>
            </app-expandable>
        </ion-card-content>
    </ion-card>
</ion-content>
