#instants-start {
    position: absolute;
    top: 0px;
    width: 100%;
}

#instants-start ion-icon {
    opacity: 0;
    position: absolute;
    overflow-y: hidden;
    z-index: 999999;
}

ion-card-header {
    height: 40px;
}
