#instants-start {
    position: absolute;
    top: 0px;
    width: 100%;
}

#instants-start ion-icon {
    opacity: 0;
    position: absolute;
    overflow-y: hidden;
    z-index: 999999;
}

ion-card-header {
    height: 40px;
}

.vimeet-user {
    display: block;
}

.vimeet-fab {
    width: calc(70vw / 2);
}

.vimeet-fab-text {
    --border-radius: 7px;
}

.vimeet-object {
    overflow-x: hidden;
    white-space: nowrap;
}

.vimeet-object .vimeet-object-icon {
    width: 1.2em;
    display: inline-block;
    vertical-align: middle;
}
