<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Vimeet Let's Go!
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Raum beitreten</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet.
            <ion-input placeholder="Name" [(ngModel)]="username"></ion-input>
            <ion-input placeholder="Raum" [(ngModel)]="room"></ion-input>
            <ion-button color="primary" (click)="connect()"
                >Beitreten</ion-button
            >
        </ion-card-content>
    </ion-card>
</ion-content>
